/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --button-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --head-color: #353430;
  --content-text: #353430;
}

.page.theme_light {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
.theme_light .decor-rec {
  display: none;
}
.theme_light .decorated-zone {
  
}