/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--accent-family);
  line-height: var(--text-height);
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  min-inline-size: 375px;
  box-sizing: border-box;
  padding: 22px;
  gap: 44px;
  min-block-size: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  grid-row: auto;
  justify-self: end;
  align-self: center;
  padding-top: 33px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.header__theme-menu-item {
  line-height: 100%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.footer .decorated-zone::before {
  inset-block-end: 2px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;;
  inset-inline-end: 11px;
  inset-block-start: 9px;
}

.footer .decorated-zone::after {
  inset-block-start: 16px;
}
.decor-rec {
  position: absolute;
  display: block;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  display: flex;
  gap: 10px;
}

.decor-rec::before {
  content:"rec";
  color: var(--accent-color);
  display: inline-block;
  font-size: 18px;
  line-height: 10px;
  font-weight: var(--accent-family);
  text-transform: uppercase;
}

.decor-rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-button {
  border: none;
  text-transform: lowercase;
  font-size: var(--text-size);
  background-color: transparent;
  border: 0;
  color: var(--button-color);
  font-family: var(--accent-family);
  font-weight: normal;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-focus-line-color);
}
.text__link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--accent-color);
}
.text__link:focus {
  outline: none;
}

.text__link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--section-text-color);
}

.text__link:focus-visible {
  outline: none;
  outline: 1px solid var(--section-text-color);
}

.focus-decor {
  font-size: var(--header-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--accent-family);
}

.header__tittle-text {
  padding-top: 9px;
  block-size: 125px;
  display: flex;
  justify-content: flex-end;
}

.tittle-text {
  font-size: var(--text-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--accent-family);
  color: var(--color-head);
}

.main {
  padding-top: 22px;
  display: grid;
  justify-content: center;
}

.content {
  padding: 20px 10px;
  font-family: var(--accent-family);
  font-size: var(--text-size);
  line-height: 23.4px;
  display: grid;
  gap: 45px;
}

.content-concetration {
  display: grid;
  gap: 16px;
  font-size: var(--text-size);
  font-family: var(--font-family);
  line-height: var(--text-height);
}

.content__section-quest {
  display: grid;
  gap: 15px;
}

.head-content {
  font-family: var(--accent-family);
  font-weight: 700;
  font-style: normal;
  font-size: var(--text-size);
  line-height: 23.4px;
}

.concetration__gold-fisch {
  display: grid;
  gap: 22px;
  padding-top: px;
}

.content-concetration-attention {
  padding-top: 3px;
}

.concetrtion__rules {
  display: grid;
  gap: 15px;
}

.head__concetration {
  font-weight: 400;
}

.heading-size {
  font-size: var(--text-size);
}

.text-decoration {
  color: var(--content-text);
}

.background-text {
  background-color: var(--accent-color);
  font-family: var(--accent-family);
  color: var(--color-head);
  font-size: var(--text-size);
}

.content__color-text {
  color: var(--head-color);
}

.gallery_full {
  grid-template-columns: 100%;
  padding: 30px 10px;
  font-weight: 700;
  object-fit: cover;
}

.sunset {
  grid-area: sunset;
}

.icecream {
  grid-area: icecream;
}

.tape {
  grid-area: tape;
}

.book {
  grid-area: book;
}

.street {
  grid-area: street;
}

.img__gallery {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  padding-top: 5px;
}

.footer {
  position: relative;
  block-size: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
}

.footer__focus {
  font-size: var(--header-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--accent-family);
  font-weight: bold;
  object-position: center;
  padding-top: 20px;
}

@media (width >= 768px) {
  
  .header {
    grid-template-columns:repeat(auto-fill, 762px);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh; 
    min-height: 668px;
    gap: 59px;
  }

  .focus-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 97px;
  }

  .header__tittle-text {
    padding-right: 16px;
  }

  .decor-rec {
    top: 28px;
    right: 30px;
  }

  .header__theme-menu {
    padding-top: 147px;
    padding-right: 15px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .content {
    padding: 0;
  }
  .decorated-zone::before {
    inset-block-end: 26px;
    inset-inline-start: 19px;
  }

  .tittle-text {
    inline-size: 49%;
  }

  .main {
    grid-template-columns: repeat(auto-fill, 728px);
    padding-top: 59px;
  }

  .content-concetration-difficult {
    display: grid; 
    grid-template-rows: repeat(min-content);
    grid-template-columns: 1fr 2fr;
    gap: 12px 19px;
  }

  #item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
  }

  #item-2 {
    inline-size: 20%;
  }

  .concetration__gold-fisch {
    padding-top: 28px;
    display: grid;
    grid-template-rows: repeat(min-content);
    grid-template-columns: 1fr 2fr;
  }

  .concetrtion__rules {
    padding-top: 5px;
  }

  .gallery_full {
    padding: 0;
    padding-top: 78px;
  }

  .gallery__img-full {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'sunset sunset icecream'
    'tape book icecream'
    'tape street street' ;
    gap: 15px;
  }

  .footer__focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 101px;
  }
  
  .content-concetration-attention {
    padding-top: 0;
  }
  .footer .decorated-zone::before {
    inset-block-end: -36px;
  }
  
  .footer .decorated-zone::after {
    inset-block-start: 72px;
  }

}
@media (width >= 1024px) {
  
  .footer__decorated-zone::after {
    inset-block-start: 29px;
  }

  .decor-rec {
    inset-block-start: 51px;
    inset-inline-end: 28px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 43px;
  }

  .decorated-zone::before {
    margin-left: 1px;
    inset-block-start: 745px;
  }

  .header {
    grid-template-columns: repeat(auto-fill, 1024px); 
  }

  .position__header-focus {
    padding-top: 61px;
  }

  .header__theme-menu {
    grid-row: auto;
    justify-self: center;
    align-self: start;
    padding: 10px 0 0 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .position__header-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__tittle-text {
    grid-row: auto;
    align-self: center;
    inline-size: calc(100% - 4px);
    justify-self: end;
    block-size: min-content;
    margin-block-start: -57px;
    padding-right: 19px;
  }
  .content {
    padding: 10px;
    padding-top: 5px;
    gap: 0;
  }
  .main {
    grid-template-columns: repeat(auto-fill, 1024px);
    padding-top: 61px;
  }
  .content-concetration-difficult {
    gap: 19px 11px;
    grid-template-columns: 1fr 2fr;
    padding: 17px 10px 10px 10px;
  }

  .content-concetration-attention {
    padding: 13px 0px 0px 8px;
    gap: 8px;
  }

  #item-2 {
    inline-size: 35%;
  }

  .concetration__gold-fisch {
    display: grid;
    grid-template-rows: repeat(min-content);
    padding-left: 9px;
    padding-right: 10px;
    padding-top: 82px;
    gap: 12px;
  }

  .gallery_full {
    padding: 70px 21px 0px 20px;
  }

  .footer {
    padding-top: 12px;
  }

  .footer__decorated-zone::after {
    inset-block-start: 75px;
    inset-inline-end: 23px;
  }

  .footer__decorated-zone::before {
    margin-left: 10px;
    inset-block-start: 779px;
  }
  .content__section-quest {
    gap: 11px;
  }

  .section-quest .content__section-quest {
    padding-right: 10px;
  }
  .section-quest {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
  }

  .section-quest .content__section-quest {
    gap: 9px;
    display: grid;
    grid-template-rows: 6%; 
  }

  .concetrtion__rules {
    padding: 0px;
  }

  .footer .decorated-zone::before {
  inset-inline-end: 21px;
  margin-top: 32px;
  }

}