/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background: var(--background-image) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-size: var(--text-size);
  font-family: var(--accent-family);
  line-height: var(--text-height);
  color: var(--content-text);
  background-color: var(--color-all-body);
  display: grid;
  gap: 40px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
  'button'
  'focus'
  'tittle';
  align-items: start;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}  

.header__theme-menu {
  grid-row: auto;
  justify-self: end;
  align-self: center;
  grid-area: button;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
}

.header__theme-menu-item {
  line-height: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;;
  inset-inline-end: 11px;
  inset-block-start: 9px;
}

.decor-rec {
  position: absolute;
  display: block;
  inset-block-start: 18px;
  inset-inline-end: 19px;
  display: flex;
  gap: 10px;
}

.decor-rec::before {
  content:"rec";
  color: var(--accent-color);
  display: inline-block;
  font-size: 18px;
  line-height: 10px;
  font-weight: var(--accent-family);
  text-transform: uppercase;
  visibility: var(--visiblity);
}

.decor-rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow:  0 0 2px 2px var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  visibility: var(--visiblity);
}

.header__theme-menu-button {
  border: none;
  text-transform: lowercase;
  font-size: var(--text-size);
  background-color: transparent;
  border: 0;
  color: var(--active-button-color);
  font-family: var(--accent-family);
  font-weight: normal;
  cursor: pointer;
  padding: 2px 13px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-button);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline-offset: 1px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--active-button-color, #FF0070);
}

.text__link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--color-link-visible);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  border: 1px solid var(--color-link-visible);
}

.focus {
  grid-area: focus;
}

.focus-decor {
  font-size: var(--header-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--accent-family);
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.tittle-text {
  font-size: var(--text-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: var(--accent-family);
  color: var(--color-head);
  margin-block-start: 55px;
}

.main {
  font-size: inherit;
  display: grid;
  gap: 50px;
  padding: 0px 10px;
}

.content {
  font-family: var(--accent-family);
  font-size: var(--text-size);
  line-height: 23.4px;
  display: grid;
  gap: 50px;
}

.content-concetration {
  display: grid;
  gap: 20px;
  font-size: var(--text-size);
  font-family: var(--accent-family);
  line-height: var(--text-height);
}

.content__section-quest {
  display: grid;
  gap: 10px;
}

.head-content {
  font-family: var(--accent-family);
  font-weight: 700;
  font-style: normal;
  font-size: var(--text-size);
  line-height: 23.4px;
}

.concetration__gold-fisch {
  display: grid;
  gap: 20px;
}

.section-quest {
  display: grid;
  gap: 20px;
}

.concetrtion__rules {
  display: grid;
  gap: 20px;
}

.head__concetration {
  font-weight: 400;
}

.heading-size {
  font-size: var(--text-size);
}

.text-decoration {
  color: var(--content-text);
}

.background-text {
  background-color: var(--accent-color);
  font-family: var(--accent-family);
  color: var(--color-head);
  font-size: var(--text-size);
}

.content__color-text {
  color: var(--head-color);
}

.gallery_full {
  grid-template-columns: 100%;
  font-weight: 700;
  object-fit: cover;
}

.sunset {
  grid-area: sunset;
}

.icecream {
  grid-area: icecream;
}

.tape {
  grid-area: tape;
}

.book {
  grid-area: book;
}

.street {
  grid-area: street;
}

.img__gallery {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
}

.gallery__img-full {
  gap: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
  'sunset' 
  'icecream'
  'tape' 
  'book' 
  'street' ;
}

.footer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  min-height: 668px;
}

.footer__focus {
  font-size: var(--header-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  font-family: var(--accent-family);
  font-weight: bold;
  object-position: center;
  color: var(--header-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  
  .page {
    gap: 60px;
  }

  .header {
    padding: 0px 20px 0px 0px;
  }
  
  .header__theme-menu {
    margin-block-start: 20px;
  }

  .focus-decor {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decor-rec {
    top: 28px;
    right: 30px;
  }

  .decorated-zone::after {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .content {
    gap: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 22px;
    inset-inline-start: 21px;
  }

  .tittle-text {
    max-width: 364px;
    justify-self: flex-end;
    margin-block-start: 165px;
  }

  .main {
    padding: 0px 20px;
    gap: 80px;
  }

  .content-concetration-difficult {
    display: grid; 
  }

  .concetration-difficult-size {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
  }
  
  .section-quest {
    grid-column-start: span 2;
  }

  .concetration__gold-fisch { 
    padding-top: 60px;  
  }

  .gallery_full {
    padding: 0;
  }

  .gallery__img-full {
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'sunset sunset icecream'
    'tape book icecream'
    'tape street street' ;
    gap: 20px;
  }

  .footer__focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 5px;
  }
  
  .content-concetration-attention {
    padding-top: 0;
  }

  .content-concetration {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

}
@media (width >= 1024px) {

  .header {
    gap: 115px;
    padding: 0px 0px 10px 0px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 18px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;
  }

  .header__tittle-text {
    grid-row: auto;
    inline-size: calc(100% - 4px);
    justify-self: end;
    padding-right: 20px;
    padding-top: 70px;
  }

  .tittle-text {
    max-width: 491px;
    margin-right: 20px;
    margin-block-start: 4px;
  }

  .content {
    gap: 24px;
  }

  .page {
    gap: 58px;
  }

  .content-concetration-difficult {
    gap: 18px 32px;
  }

  .concetrtion__rules {
    gap: 19px;
  }

  .concetration__gold-fisch { 
    gap: 31px; 
  } 

  .content__section-quest {
    gap: 11px;
    grid-template-rows: min-content;
  }

  .section-quest {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .heading-size {
    block-size: min-content;
  }

}